.Alumni-Update-Title{
    text-align: center;
    margin-top: 9rem;
    font-weight:bold;
    font-size:3rem;
    text-transform:uppercase;
}
.Alumni-Update-Name{
    font-weight:bold;
    font-size:1.25rem;
}
.Alumni-Update{
    margin-bottom:1.5rem;
}