body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Calluna", Times, serif;
}
nav.navbar.fixed-top.navbar-default.navbar-toggleable-md.navbar-expand-md.navbar-light {
    padding: 0;
}
.navbar-light .navbar-brand{
    color: black;
    line-height: 3.125rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    font-size: 1.563rem;
    width: 40%;
    text-align: center;
    font-weight: 700;
    font-family: "Playfair Display", Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    margin: 0;
    background-color: #FFFFFF;
}
.navbar-nav{
    background-color: #0035AD;
    line-height: 3.125rem;
    width: 60%;
}
.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
    padding: 0.875rem 1rem;
    text-transform: uppercase;
    font-family: "Calluna", Times, serif;
    letter-spacing: 0.125rem;
    text-decoration: underline;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FF0000;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #FF0000;
}
.footer{
    height: 4.688rem;
    background-color: #0035AD;
    line-height: 4.688rem;
    font-size: 1.25rem;
    color: white;
    position: absolute;
    width: 100%;
    margin-top: 3.125rem;
}
.small-footer a{
    margin-right: 1rem;
}
.footer a{
    color: white;
    text-decoration: none;
}
@media (max-width: 1200px){
    .navbar-light .navbar-brand{
        width: 100%;
        font-size: 1.25rem;
    }
    .navbar-nav{
        width: 100%;
        line-height: 1.3rem;
        text-align: center;
    }
    .nabar-light .navbar-nav .nav-link{
        width: 100%;
    }
    nav.navbar.fixed-top.navbar-default.navbar-toggleable-md.navbar-expand-md.navbar-light {
        background-color: #0035AD;
    }
    .navbar-light .navbar-toggler{
        background-color: #FFFFFF;
        border-radius: 0rem;
    }
    .footer{
        padding-top: .5rem;
        line-height: 1.5rem;
        height: 5.688rem;
    }
    .small-footer{
        display: block;
        font-size: 1rem;
        color: white;
        background-color:#0035AD;
    }
}